API_ID=
API_HASH=
BOT_TOKEN= 8118009991:AAEDlne-l_v8aMkdsB5KDOT8PF9rASBhqjY
LOGGER_ID= -1002325306088
MONGO_DB_URI= mongodb+srv://rohillayash281:rohillayash281@cluster0.35b8c.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID= 6586095302
STRING_SESSION=
