API_ID=28204196
API_HASH=4a393f9e5bdc34ad7c3ad2340f9b44de
BOT_TOKEN=8118009991:AAEDlne-l_v8aMkdsB5KDOT8PF9rASBhqjY
LOGGER_ID=-1002325306088
MONGO_DB_URI=mongodb+srv://rohillayash281:rohillayash281@cluster0.35b8c.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=6586095302
STRING_SESSION=BQGuXKQAC7FXVffv0eKtnYxV4jJVzv_izuFKi_sWRujndZW63Ck9klAul58q0k1ElEecyodax46v6k9QgmZzTV8ezCr4ZJFBTwbn6VmVJIhOzObzzj7j_jRHJ9GaH0bGgh5AxhEy3CNCeVh2HiE_HXLRSwwKa7HmzD5vMy2N3rWjbRptg4TN4mpbWYClYrLA9VD_Y4zrQzmx5paTpJCybP5H9NnGoV3cEtKwkPbIEWIH3WX8xDuqrgBbug-0yDBPb8XBJWNuX3tmK2j8Gz4-SNXxKfCLlUzld_i6jyCKysyLBFpIlCjZqiwaY23cRrK_lPZfkzN3HaiOk5Ig3jWZbedkpfOxgwAAAAHCyZuBAA
